@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('./navbar.css');
@import url('./footer.css');
@import url('./orderPageStyle.css');
@import url('./profile.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    background: #111111 !important;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
}

.bg-1a {
    background-color: #1a1a1a;
}
