.songs-grid {
	justify-content: center;

}

.card {
	position: relative;
	overflow: hidden;
	transition: transform 0.5s, 200ms ease-in-out;
	border: none;
}

.card:hover {
	filter: brightness(50%); /* Darken the entire card on hover */
	cursor: pointer;
}


.carousel-item {
	position: relative;
}

.carousel-item-body {
	opacity: 0;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	position: absolute;
	background: rgba(0, 0, 0, 0.250);
	backdrop-filter: blur(5px);
	color: white;
	padding-top: 2vh; 
	padding-left: 20vw; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.3s;
}

.carousel-item:hover .carousel-item-body{
	opacity: 1;
}

.carousel-item-title {
	font-size: calc(1rem + 2vw + 1vh);
	font-weight: 600;
}


.carousel-item-text {
	font-size: calc(0.5rem + 0.5vw + 0.5vh); /* Adjust the ratios as needed */
}

.carousel-item-btn{
	width: 15vh;
	margin-top: 1vw;
	border-radius: 5px;
	text-transform: capitalize;
	border: none;
	outline: none;
	font-weight: 500;
	cursor: pointer;
}

.carousel-control-prev {
	background: rgba(0, 0, 0, 0.250);
}

.carousel-control-next {
	background: rgba(0, 0, 0, 0.250);
}


.dropdown-menu {
	display: none; 
	width: 100%;
}

.dropdown.show .dropdown-menu {
	display: inline-block; 
	position: relative;
}

.form-check{
	overflow: hidden;
	text-overflow: ellipsis;
}

.dropdown {
	position: relative;
}

.filter-btn {
	width: 100%;
	position: relative;
}